# Logs
logs
*.log
npm-debug.log*

# Runtime
pids
*.pid
*.seed
*.pid.lock

# Node modules
node_modules/

# Environment variables
.env

# Build and coverage
coverage/
*.lcov
.nyc_output

# Dependency cache
.npm
.cache

# Output of 'npm pack'
*.tgz

# TypeScript (if added later)
*.tsbuildinfo
