<div ng-controller="mainController">
    <div class="bg-white shadow p-4 flex justify-between items-center">
        <h1 class="text-xl font-bold"></h1>
        <div>
            <a href="#!/admin" class="mr-4 text-blue-600 hover:underline" ng-if="isLoggedIn()">Admin</a>
            <a href="#!/logout" class="text-red-600 hover:underline" ng-if="isLoggedIn()">Logout</a>
            <a href="#!/login" class="text-blue-600 hover:underline" ng-if="!isLoggedIn()">Login</a>
        </div>
    </div>

    <div ng-include="viewUrl"></div>
</div>
